@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin break-word() {
  word-wrap: break-word;
}

@mixin no-wrap() {
  white-space: nowrap;
}
